<!DOCTYPE html>
<html lang="en" data-dc-pagetype="{{pagetype}}" data-dc-homeactive="{{homeactive}}">
<head> 
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
  <meta name="description" content="dmstfctn (pronounced demystification) is a London based artist duo, formerly known as the Demystification Committee">
  
  <!-- FAVICON -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{dc_urlpath 'favicon/apple-touch-icon.png'}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{dc_urlpath 'favicon/favicon-32x32.png'}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{dc_urlpath 'favicon/favicon-16x16.png'}}">
  <link rel="manifest" href="{{dc_urlpath 'favicon/site.webmanifest'}}">
  <link rel="mask-icon" href="{{dc_urlpath 'favicon/safari-pinned-tab.svg'}}" color="#000000">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="theme-color" content="#ffffff">
  
  <title>{{ dc_title title pagetype}}</title>
  {{!-- <title>{{ title }} | {{dc_name}}</title> --}}
  
  <link rel="stylesheet" href="https://use.typekit.net/wzu6tbi.css">
  <link rel="stylesheet" href="{{dc_urlpath 'assets/css/main.css' }}">
  
  {{{ small_site }}}  
  
  <script defer src="{{dc_urlpath 'assets/js/dist/main.js' }}"></script>
</head>
<body>
  {{#if landing}}
  <div class="dc-lander">
    <div class="dc-lander--images">
      <div class="dc-lander--images--wrapper">
        {{#each landing.images }}
        <div class="dc-lander--img-container">
          <img     
            class="dc-lander--img"
            src="{{this.file.src}}"
            data-low-src="{{this.file.lowSrc}}"
            data-srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw== 1w,
                        {{this.file.halfSrc}} 2100w,
                        {{this.file.src}} 3000w"
            data-sizes="(max-width: 900px) 1px,
                        100vw"    
            width="{{this.file.dimensions.width}}"
            height="{{this.file.dimensions.height}}"
          >
          <span class="dc-lander--caption">{{{this.caption}}}</span>
        </div>
        {{/each}}
      </div>
    </div>
    {{#if landing.bio }}
      <div class="dc-bio dc-bio__home">
        {{{landing.bio}}}
      </div>
    {{/if}}
  </div>
  {{/if}}
  <div class="dc-zoomable-wrap">
    {{{ navigation }}}
    <div class="dc-main-content">
      {{{ content }}}
    </div>
    {{{ track_record }}}
  </div>
  <div class="dc-mobile-nav" touch-action="none">
    <div class="cv-dl-click-mob dc-cv-download" style="position: fixed;z-index: 99;top: 3.04rem; height: 1rem;width: 12rem;left: 0.8rem;">
      <a href="https://docs.google.com/document/d/1OWxyldlWZmEMp6M84fwwtL3lsm1qA3Z2MmhLCGN2dko/preview" target="_blank" rel="noopener noreferrer">See text CV here</a>
    </div>
    <div class="dc-mobile-bar"></div>
  </div>
  {{!-- <a href="{{dc_urlpath ''}}" class="dc-mobile-home-link"></a> --}}

  <script>
    console.log('BUILD INFO:\n\n', '{{~_build_info~}}');
  </script>
</body>
</html>
