<!DOCTYPE html>
<html lang="en" data-dc-pagetype="{{pagetype}}" data-dc-homeactive="{{homeactive}}">
<head> 
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
  <meta name="description" content="dmstfctn (pronounced demystification) is a London based artist duo, formerly known as the Demystification Committee">
  
  <!-- FAVICON -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{dc_urlpath 'favicon/apple-touch-icon.png'}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{dc_urlpath 'favicon/favicon-32x32.png'}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{dc_urlpath 'favicon/favicon-16x16.png'}}">
  <link rel="manifest" href="{{dc_urlpath 'favicon/site.webmanifest'}}">
  <link rel="mask-icon" href="{{dc_urlpath 'favicon/safari-pinned-tab.svg'}}" color="#000000">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="theme-color" content="#ffffff">
  
  <title>{{ dc_title title pagetype}}</title>
  {{!-- <title>{{ title }} | {{dc_name}}</title> --}}
  
  <link rel="stylesheet" href="https://use.typekit.net/wzu6tbi.css">
  <link rel="stylesheet" href="{{dc_urlpath 'assets/css/main.css' }}">
  
  {{{ small_site }}}  
  
  <script defer src="{{dc_urlpath 'assets/js/dist/main.js' }}"></script>
</head>
<body>
  <div class="dc-zoomable-wrap">
    {{{ navigation }}}
    <div class="dc-main-content">
      {{{ content }}}
    </div>
    {{{ track_record }}}
  </div>
  <div class="dc-mobile-nav" touch-action="none">
    <div class="dc-mobile-bar"></div>
  </div>
  <a href="{{dc_urlpath ''}}" class="dc-mobile-home-link"></a>

  <script>
    console.log('BUILD INFO:\n\n', '{{~_build_info~}}');
  </script>
</body>
</html>
